<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>loop</title>
</head>
<body>
	
	<input type="number" id="inputNumber" placeholder="Enter a number">
    <button onclick="generateTable()">Generate Table</button>

    <script type="text/javascript">
	    function generateTable() {
	        var number = document.getElementById('inputNumber').value;
	        number = parseInt(number);
	        var a = 1;
	        

		    document.write("");
            for (a = 1; a <= 20; a++){
            document.write(number + " * " + a + " = " + (number * a) + "<br>");
            
            }
        }
        
</script>
</body>
</html>
